table
{
    background: white;
    color: black;
    border-spacing: 1px;
}

th, td
{
    padding: 5px;
    text-align: center;
}

th
{
    background: lightgray;
}

td
{
    background: white;
}

a
{
	cursor: pointer;
}

.lft
{
    left: 90px;
    position: absolute;
}

.lft2
{
    left: 240px;
    position: absolute;
}

.tbl,
.tbl th,
.tbl td
{
    border: 1px solid black;
}